.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

body {
    font-family: "Consolas";
}

.common {
    font-family: "Consolas";
    font-size: 0.95vmax;
    width: 80ch;
    min-height: 200px;
}

textarea {
    resize: none;
    overflow: hidden;
    /* outline: none; */
}

.hiddenPre {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#in1 {
    margin-top: 1.5vh;
}

pre {
    margin-top: 1.5vh;
}

.settings {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
