.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

body {
    font-family: "Consolas";
}

.common {
    font-family: "Consolas";
    font-size: 0.95vmax;
    width: 80ch;
    min-height: 200px;
    margin-right: 3ch;
}

textarea {
    max-height: 800px;
    autocomplete: off;
    autocorrect: off;
    autocapitalize: off;
    spellcheck: false;
    resize: none;
    /* overflow: hidden; no scrollbar */
    /* outline: none; */
}

#hiddenPre {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#in1 {
    margin-top: 1.5vh;
}

pre {
    margin-top: 1.5vh;
}

.settings {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
